@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: REJOUICE;
    src: url(Rejouice-Headline.ttf);
}

@font-face {
    font-family: NB;
    src: url(NBInternationalProBoo.ttf);
}

body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: #f5f3f4;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(59 130 246);
    border-radius: 50px;
}

#leagues::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: #f5f3f4;
}

#leagues::-webkit-scrollbar-thumb{
    background-color: rgb(59 130 246);
    border-radius: 50px;
}